<header class="site-header">
	<div id="Navigation">
		<img id="Indicator" src="{{ site.baseurl }}/img/indicator.png" alt="" />
		<a class="site-title" href="{{ site.baseurl }}/">
			<img id="Logo" src="{{ site.baseurl }}/img/compass-large.png" alt="{{ site.title }}"/>
			<span id="LogoReplacement"> Home </span>
		</a>
		<nav>
			{% for page in site.pages %}
			{% if page.title %}
			{% if page.menuInclude != false %}
			<a class="page-link" id="{{page.url | replace:'/',''}}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
			{% endif %}
			{% endif %}
			{% endfor %}
		</nav>
	</div>

	<nav id="MobileHeader">
		<li class="ib pointer menuButton">
			<img src="{{ site.baseurl }}/img/menu.png" alt="Menu icon"/>
			<h3 class="ib"> Menu </h3>
		</li>
		<li id="SmallLogo" alt="Company Logo"></li>
	</nav>
</header>
