<header class="site-header">
  <div id="Navigation">
    <img id="Indicator" src="{{ site.baseurl }}/img/indicator.png" alt="" />
		<a class="site-title" href="{{ site.baseurl }}/">
			<img id="Logo" src="{{ site.baseurl }}/img/cyd.png" alt="{{ site.title }}"/>
		</a>
    <nav>
      {% for page in site.pages %}
      {% if page.title %}
			{% if page.menuInclude != false %}
      <li><a class="page-link" id="{{page.url | replace:'/',''}}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}

			{% for hash in page.navigation %}
			{% for pair in hash %}
      <h3>
        <a name="{{ pair[1] }}" class="anchor"
           href="#{{ pair[1] }}">
        </a>{{ pair[0] }}
      </h3>
			{% endfor %}
			{% endfor %}
    </nav>
  </div>

	<ul id="MobileHeader">
		<li class="ib pointer menuButton">
			<img src="{{ site.baseurl }}/img/menu.png" alt="Menu icon"/>
			<h3 class="ib"> Menu </h3>
		</li>
		<li id="SmallLogo" alt="Company Logo"></li>
	</ul>
</header>
